<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">EventNest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/events">Events</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/login" *ngIf="!isAuthenticated">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/register" *ngIf="!isAuthenticated">Register</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
              <button class="btn btn-danger" (click)="logout()">Logout</button>
            </li>
        </ul>
      </div>
    </div>
  </nav>